@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

body {
	margin: 0;
	background-color: white;
	font-family: Montserrat;
	font-weight: 600;
	text-align: center;
	background-image: url("https://static.tumblr.com/bcbf0b78bc5299592586b895192c3eda/sza0yfa/EOjp5i8lw/tumblr_static_tumblr_static_d1unhgq4n74s0gk0c00kccgk0_focused_v3.jpg");
}

.topnav {
	overflow: hidden;
	margin-top: 25px;
	margin-right: 25px;
}

#logo {
	float: left;
	height: 50px;
	margin-left: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: right;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: black;
	color: white;
}

.welcomeBackground {
	background: url('welcomeBackground.png') no-repeat center center fixed;
	background-size: cover;
}

.header {
	text-align: center;
	color: black;
	margin: 25px 0px;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.listPoints {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1 {
	margin: 0px;
}

.LinkButton:focus,
.LinkButton:hover,
.LinkButton:active {
	background-color: black;
	color: white;
	border: 2px solid black;
}

.formContainer#inputForm {
	margin-top: 50px;
}

th {
	background-color: black;
	color: white;
}

.Link {
	display: flex;
	justify-content: center;
	color: black;
	background-color: white;
	padding: 20px 30px;
}

#inputForm {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.LinkButton {
	font-family: montserrat;
	;
	display: flex;
	justify-content: center;
	color: black;
	background-color: white;
	padding: 20px 30px;
	border: 2px solid black;
}

#LoginButton {
	color: white;
	font-family: Montserrat;
	background-color: black;
	border: 0px solid white;
	font-size: 20px;
	padding: 15px 20px;
	width: fit-content;
	display: inline-block;
	height: fit-content;
}

h1 {
	color: black;
	text-align: center;
}

.input {
	margin: 10px;
	padding: 5px 5px;
	height: 20px;
	border: 2px solid black;
	color: black;
}

table {
	border-spacing: 0 10px;
	color: black;
}

.displayTable {
	border-collapse: collapse;
}

.displayTableData {
	width: 150px;
	text-align: center;
	border: 2px solid black;
	padding: 5px
}

.message {
	font-size: 25px;
}

.blurBg {
	opacity: 0.4;
}

.formContainer {
	background-color: rgba(255, 255, 255, 0.4);
	display: inline-block;
	border-radius: 10px;
	padding: 50px;
	border-radius: 10px;
	text-align: center;
	position: relative;
}
.formContainer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	filter: blur(100px); /* Adjust the blur */
	z-index: -1;
}

#messageContainer {
	margin-top: 25px 0px;
}

.td {
	padding: 20px;
}

.buttonHolder {
	margin-top: 20px;
	text-align: center;
}

.input#button {
	padding: 20px 20px;
	color: black;
	background-color: white;
	font-family: montserrat;
	text-align: center;
}

#LoginButton:hover {
	background-color: #FFBF00;
}

.input:hover,
.input:focus,
.input:active {
	border: 2px solid #FFBF00;
}

.label {
	font-size: 20px;
	color: black;
	float: left;
}

.button {
	margin-top: 30px;
	margin-bottom: 30px;
	transition: background-color 0.1s;
}

.space {
	margin-top: 20px;
}

a {
	text-decoration: none;
	background-color: #FFBF00;
	color: white;
	border: none;
}

a {
	color: white;
}

#operation {
	background-color: white;
	border: 1px solid black;
	height: 35px;
	color: #333;
	padding-right: 15px;
	width: 200px;
	outline: none;
}

#operation:hover,
#operation:focus {
	border-color: #aaa;
}

#loginsignup {
	background-color: black;
	font-size: 12px;
	color: black;
	float: left;
}